*.suo
*.user
.DS_Store
docs/api
lib
node_modules
test/build
test/coverage
examples/stealjs/phosphor-plugins
examples/stealjs/bar
examples/stealjs/index.css
examples/stealjs/index.js
examples/systemjs/phosphor-plugins
examples/systemjs/bar
examples/systemjs/index.css
examples/systemjs/index.js
